/* This is the CSS file that is loaded into every page */
@import url('https://fonts.googleapis.com/css?family=Maitree');

body {
  background-color: #F5F5F0;
  font-size: 14pt;
  font-family: 'Maitree', serif;
  margin: 0;
  padding: 0;
}

footer p {
  font-size: 60%;
  text-align: center;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* margin: 0 auto; */
  margin-top: 5em;
  background-color: #E8E8E8;
  padding: 10px;
}

#websiteHeader {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #E8E8E8;
}

#websiteHeader h1 {
  margin: 0.67em;
  float: left;
}

/* Button config */

#websiteHeader a {
  color: inherit;
  border:;
  text-decoration: none; /* gets rid of underline */
  padding: 0.5em;
  border: 1px solid;
  border-bottom: 8px solid;
  border-radius: 16px;
  margin-right: 0.67em;
  margin-top: 20.5px;
  float: left;
}

#websiteHeader a:hover {
  background-color: #E8E8E8;
  /* background-color: orange; */
}

.pageContent {
  margin-top: 130px;
}

.pageContent p {
  /* border-top: 2px solid; */
  margin-left: 25.013px; 
  padding-top: 10px;
  clear: left;
  
}
