/* This is the CSS file that is loaded into every page */
@import url('https://fonts.googleapis.com/css?family=Maitree');

body {
  background-color: #F5F5F0;
  font-size: 14pt;
  font-family: 'Maitree', serif;
  margin: 0;
  padding: 0;
}

footer p {
  font-size: 60%;
  text-align: center;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* margin: 0 auto; */
  /* margin-top: 5em; */
  background-color: #E8E8E8;
  padding: 10px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 40px;
  font-size: 110%;
  text-align: center;
}

h3 {
  margin-bottom: 0px;
}

ul {
  margin: 0px;
}

#navBar {
  margin-right: 25.013px;
  margin-bottom: 25.013px;
  float: right;

  /* # if you want the nav bar on the left side
  margin-left: 301.456px;
  position: absolute;
  */
}

#websiteHeader {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #E8E8E8;
}

#websiteHeader h1 {
  margin: 0.67em;
  float: left;
}

/* Button config */

#websiteHeader a {
  color: inherit;
  border:;
  text-decoration: none; /* gets rid of underline */
  padding: 0.5em;
  border: 1px solid;
  border-bottom: 8px solid;
  border-radius: 16px;
  margin-right: 0.67em;
  margin-top: 26.5px; /* 20.5 */
  float: left;
}

#websiteHeader a:hover {
  background-color: #EFFEFF;
}

/* Buffer between page content and header/footer */
.pageContent {
  margin-top: 136px;
  margin-bottom: 50px;
  margin-left: 25.013px;
}

.pageContent h1 {
  margin-top: 25.013px; 
  clear: left;
  border-bottom: 2px solid;
  margin-bottom: 0px;
  width: 20%;
}

/* Override margin for projects page content */
#projectsContent.pageContent {
  margin-left: 50.026px; 
}

#homepageContent.pageContent {
  /*text-align: center;*/
}

.pageContent p {
  /* border-top: 2px solid; */
  margin-top: 25.013px; 
  /*margin-left: 50.026px;*/
  clear: left;
  
}

/* This is for the auto typer util */
@keyframes typing { from { width: 0; } }
@keyframes hide-caret {
  from {
    border-right: .1em solid black;
  }
  to {
    border-color: transparent;
  }
}

.typing {
  border-right: transparent;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(19, end),
             hide-caret 2s step-end;
}

h1.typing {
  width: 10ch;
}

h2.typing {
  width: 10ch;
}

h3.typing, h4.typing{
  width: 19ch;
}

/* Button Icons */
.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}


/* LinkedIn Button */
.fa-linkedin {
  height: 20px;
  width: 20px;
  background: #007bb5;
  color: white;
}

.fa-envelope {
  height: 20px;
  width: 20px;
  background: #A1A1A1;
  color: black;
}

.fa-file-code-o {
  padding: 0px;
  padding-left: 4px;
  height: 11px;
  width: 11px;
}

.fa-desktop {
  padding: 0px;
  padding-left: 4px;
  height: 13px;
  width: 13px;
}
